:root {
  --theme-pink: #fdb6c6;
  --theme-yellow: #fed29c;
  --theme-red: #c05463;
  --theme-blue: #96ceda;
  --theme-purple: #5e525e;
  --theme-gray: #ebe9ee;
  --theme-bg-color-1: #ffffff;
  --theme-bg-color-2: #f0eceb;
}
